<div class="container">
  <nav class="navbar navbar-default">

    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/Search'><b><h4>Search</h4></b></a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

       <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/update'><b><h4>update</h4></b></a>
      </li> 

      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/searchbyorder-id'><b><h4>searchbyorder-id</h4></b></a>
      </li> 
 
    </ul>

  </nav>
  <router-outlet></router-outlet>
</div>
 
<!-- <app-search></app-search> 

 <app-update></app-update> 
 
<app-searchbyorder-id></app-searchbyorder-id> -->